body, html
  box-sizing border-box
  width 100%
  height 100%

.userName
  padding 2px

.weightTable, td
  border-collapse collapse;
  border 1px solid #aaa

.weightTable
  td
    padding 5px
  .specTd
    padding 2px
    border-width 0

.weight, .count
  width 4em